// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap");
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  color: #343435;
}
.contentDiv {
  width: calc(100% - 350px);
  position: relative;
  top: 0vh;
  left: 340px;
  height: 100vh;
  overflow-y: auto;
}
.brx {
  border: 1px solid red;
}
.boxWhite {
  width: calc(100% - 30px);
  height: calc(100vh - 20px);
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  border-radius: 30px;
  border: 2px solid white;
  margin-top: 10px;
  overflow-y: hidden;
}
.contentDiv {
  width: calc(100% - 270px);
  position: relative;
  top: -100vh;
  left: 300px;
  height: 100vh;
  overflow-y: auto;
  background-image: url("../../public/images/bg.jpg");
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
